<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <h1>SUBARU IMPREZA GC8</h1>
        <P>El Subaru Impreza es un automóvil de turismo del segmento C producido por el fabricante japonés Subaru desde 1992. La segunda generación fue lanzada en 2002 y la tercera fue presentada al público en 2007. Su principal rival ha sido el Mitsubishi Lancer, hasta que dejó de ser competitivo a principios de los años 2000. Se ha mantenido en la élite del Campeonato Mundial de Rally (WRC) hasta llegar a ser el modelo con más victorias, hasta un total de 46 rallys en el mundial, empatado con el Lancia Delta.</P>
    </ion-card-header>

  </ion-card>
</ion-content>
