<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <h1>SUBARU IMPREZA GC8</h1>
        <P>El Subaru Impreza es un automóvil de turismo del segmento C producido por el fabricante japonés Subaru desde 1992. La segunda generación fue lanzada en 2002 y la tercera fue presentada al público en 2007. Su principal rival ha sido el Mitsubishi Lancer, hasta que dejó de ser competitivo a principios de los años 2000. Se ha mantenido en la élite del Campeonato Mundial de Rally (WRC) hasta llegar a ser el modelo con más victorias, hasta un total de 46 rallys en el mundial, empatado con el Lancia Delta.</P>
          <p>La primera generación fue puesta a la venta en octubre de 1992. Inicialmente, estaba disponible con carrocerías sedán de cuatro puertas (código de fabricación: GC) y hatchback de cinco puertas con portón trasero (GF). A fines de 1995 se agregó una variante cupé de dos puertas (GM), similar en silueta a la sedán y todos con puertas sin marco.6​ Las transmisiones eran una manual de cinco velocidades y otra automática de cuatro. El volumen de la cajuela de ambas versiones era el mismo con 365 L (12,9 pies cúbicos), mientras que el hatchback aportaba la ventaja de un capacidad de carga más amplia, gracias al portón trasero y a la posibilidad de abatir los asientos traseros en partes asimétricas.

Las versiones normales eran con motores naturalmente aspirados de 1597 cm³ (1,6 litros), 1994 cm³ (2 litros), 2212 cm³ (2,2 litros) y 2457 cm³ (2,5 litros).5​ La versión de 1597 cm³ (1,6 litros) estaba disponible con tracción delantera, mientras que las de 1820 cm³ (1,8 litros) y mayores estaban disponibles solamente con tracción integral. El diseño y acabados interiores eran muy espartanos y no destacaba por su equipamiento.

La primera evolución correspondió a Impreza WRX, por sus siglas "World Rally Experimental" o Impreza GT Turbo, como se denominaba la versión deportiva en Japón, el cual incorporaba un 1994 cm³ (2 litros) con turbocompresor que desarrollaba 211 CV (208 HP; 155 kW) de potencia máxima, luego 218 CV (215 HP; 160 kW) de potencia,6​ salvo en Japón donde producía 240 CV (237 HP; 177 kW), 260 CV (256 HP; 191 kW) y 280 CV (276 HP; 206 kW). Las versiones dotadas con sobrealimentación nunca llegaron a los mercados de América del Norte. Gracias a su bajo peso de 1220 kg (2690 libras), los WRX en los mercados europeos eran capaces de acelerar de 0 a 100 km/h (62 mph) en 5.5 segundos. Además, disponían de un complejo sistema de tracción integral con diferencial de acoplamiento viscoso (LSD) central y el trasero autoblocante. El WRX estaba disponible con cualquiera de las carrocerías, incluyendo el cupé de dos puertas que saldría a la venta en 1995.</p>
    </ion-card-header>

  </ion-card>
</ion-content>
